.name{
    float: none;
    position: relative;
    color: #27252e;
    font-family: monospace;
    transform: translateX(5px);
    font-size: 28px !important;
}
.name:hover{
    color: #abafbb;
}

.navbar{
    background-color: #f4f6f8;
    width: 100%;
}

.navlink{
    color: #27252e !important;
    font-size: 28px;
    font-family: monospace;
}

.navlink:hover{
    color: #abafbb !important;

}