.navbrand{
    color: #27252e;
    font-family: monospace;
    font-size: 28px !important;
}
.navbrand:hover{
    color: #abafbb;
}

.navbar{
    background-color: #f4f6f8;
    width: 100%;
}

.navlink{
    color: #27252e !important;
    font-size: 28px;
    font-family: monospace;
}

.navlink:hover{
    color: #abafbb !important;
    opacity: 45%;
    text-decoration: none;

}
.toggler-icon{
    font-size: 30px;
    opacity: 75%;

}
.toggler-icon:hover {
    opacity: 50%;
    font-size: 36px;
  }