.head_title{
    color: white;
}
.teamtitle{
    text-align: center;
}
.teamtext{
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif;
}
.card_footer{
    align-self: center;
    background-color: transparent !important;
    overflow: hidden;
    color: transparent;
    border-top: 25px !important;

}

.img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    overflow: hidden;
}
.card{
    /*background-color: #27252e !important;*/
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    overflow: hidden;
}
.card_link{
    font-size: 20px;
}
.team_title{
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}