.name{
    float: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: maroon;
}