.name{
    float: none;
    position: relative;
    color: white;
    font-family: monospace;
    transform: translateX(5px);
    font-size: 28px !important;
}
.name:hover{
    color: white;
}

.navbar{
    background-color: maroon;
    width: 100%;
}

.navlink{
    color: white !important;
    font-size: 28px;
    font-family: monospace;
}
.navlink2{
    color: white !important;
    font-size: 28px;
    font-family: monospace;
}